@using zero_hunger.Models.DB
@{
    ViewBag.Title = "Dashboard";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%; padding:10px;">
    <h3 class="w3-bar-item">Menu</h3>
    @{
        var per = new string[] { "0" };
        if (Session["permission"] != null)
        {
            per = Session["permission"].ToString().Split(',');
        }


        if (Array.Exists(per, e => e == "1") || Array.Exists(per, e => e == "2"))
        {
            <label>Admin, Employee & Resturent</label>
            if (Array.Exists(per, e => e == "1"))
            {
                <a href="~/user" class="w3-bar-item w3-button" style="text-decoration:none;">All User</a>
            }
            if (Array.Exists(per, e => e == "2"))
            {
                <a href="~/user/create" class="w3-bar-item w3-button" style="text-decoration:none; ">Add User</a>
            }
        }

        if (Array.Exists(per, e => e == "3") || Array.Exists(per, e => e == "4") )
        {
            <label>Role</label>
            if (Array.Exists(per, e => e == "3"))
            {
                <a href="~/role" class="w3-bar-item w3-button" style="text-decoration:none;">All Role</a>
            }
            if (Array.Exists(per, e => e == "4"))
            {
                <a href="~/role/Create" class="w3-bar-item w3-button" style="text-decoration:none;">Add Role</a>
            }
        }

        if (Array.Exists(per, e => e == "5") || Array.Exists(per, e => e == "6"))
        {
            <label>Food</label>
            if (Array.Exists(per, e => e == "5"))
            {
                <a href="~/food" class="w3-bar-item w3-button" style="text-decoration:none;">All Food</a>
            }
            if (Array.Exists(per, e => e == "6"))
            {
                <a href="~/food/Create" class="w3-bar-item w3-button" style="text-decoration:none;">Add Food</a>
            }
        }

        if (Array.Exists(per, e => e == "7"))
        {
            <label>Collect Request</label>
            <a href="~/collectrequest" class="w3-bar-item w3-button" style="text-decoration:none;">All Request</a>
        }
    }
</div>

<!-- Page Content -->
<div style="margin-left:50%">

</div>